{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>PETOYS</title>
</head>
        
        <body background="http://itectehuacan.edu.mx/TutoriasFinalSistema/Imagenes/backgrounds/1.jpg"><h1><center>PETOYS</center></h1>

            <title>Este es solo un ejemplo</title>
            
            <center><div class="categoriesDiv" style="width:50%" >

            <font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>

                 <h2><center><u>INTRODUCCION</u></center></u></h2><u>

                 <h3><center>Esta página web tiene como función mostrar nuestros avances del proyecto que actualmente esta en marcha, dividiendo los entregable por trimestres, cada uno tendrá varios títulos con los temas vistos, y en esos títulos los archivos o trabajos que hicimos a lo largo de dichos trimestres.</center></h3>

            </font>

            <h2><center><u>¿QUIENES SOMOS?</u><center></h2>

                <font size=”3″ face=”Comic Sans MS, Arial, MS Sans Serif”>

                    <h3><center>Somos un grupo estudiantes de la institución SENA en Colombia, Bogotá. Nuestro trabajo es realizar una plataforma online para la empresa "Huellitas mascotilandia", para brindar un buen servicio y excelente trabajo de nuestra parte, usaremos los temas vistos en estos años de aprendizaje.</center></h3>

                </font>

            </div></center>

            <div>
                
                <center><img src="https://lh5.googleusercontent.com/tqSFf54Vtl6DIrFepV78hNgxQ220F46bWZXiLLwcdF_LA_BjQ53j1dvhKqC0WsV0KviOEO38gOPGskAq3S0LiHoejTZWxlBdSK4EWSG1S0n9zuO5=w1280" width="250 px" height="250 px"></center>
                
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>