
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Recuperar Contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo2.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo_registro.css' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>  
        
        
        <div class="botonesp">
            <input class="boton3" type="submit" onclick="location.href='index.html'" value="Inicio" />
            <input class="boton4" type="submit" onclick="location.href='caninos.html'"value="Caninos" /> 
            <input class="boton5" type="submit" onclick="location.href='felinos.html'"value="Felinos" />
            <input class="boton6" type="submit" onclick="location.href='citas.html'"value="Citas" disabled=""/>
            <input class="boton7" type="submit" onclick="location.href='pag_admi.html'"value="Contactenos" />
        </div>
        
        <div class="contedorp">
            
            <img class="logo"src="{% static 'imagenes/logo.png' %}" alt=""/>
            
            <input class="barrap" type="text" name="" value="" />
            <input class="boton1" type="submit"onclick="location.href='InicioSesion.html'" value="Iniciar Sesión" />
            <input class="boton2" type="submit" value="Registrarse"/>            
            
        </div>
       
        <form class="rec_contrasena">
            <h1>
                Recuperar Contraseña
            </h1>
            <div class="formrc">
                <label>Ingrese Correo:</label>
                <input class="textnombre"type="text" name="" value="" />
                <label>Digite Codigo enviado a su correo:</label>
                <input type="text" name="" value="" />
            </div>
        </form>
        
        <button class="boton8" onclick="location.href='vista/javascript/.html'">Siguiente</button> 
        <button class="boton9" onclick="location.href='InicioSesion.html';">Regresar</button>
        
        
        
        <footer>
            <img src="{% static 'imagenes/logo.png' %}" alt=""/>
            <img class="redes" src="{% static 'imagenes/redes228.png' %}" alt=""/>
            <p>
                Contactenos:
            </p>
            <p>
                800 9350
            </p>
            <p>
                Calle 139 No 101B - 04
            </p>
        </footer>
        
         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    </body>
</html>
