* {
    font-weight: 100;
    font-size: 18px;
    font-family: sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
.botonesp {
    width: 100%;
    height: 70px;
    background-color: #8a2be2;
    
}
.boton3, .boton4, .boton5, .boton6, .boton7 {
    height: 38px;
    width: 118px;    
    margin-top: 16px;
    margin-left: 126px;
    border-radius: 20px;
    border-style: solid;
    background-color: #e6e6fa;
    border-color: #e6e6fa;
}

select {
    border-radius: 20px;
    border-style: solid;
    
}
.contedor, .contedorp {
    width: 100%;
    height: 120px;
    background-color: #e6e6fa;
    position: relative;
}

.logo, .logop {
    height: 100px;
    width: 130px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}

.carrito {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.contedorp select {
    height: 38px;
    width: 200px;
    text-align-last: center;
    margin-left: 30px; 
}

.cajaimg {
    height: 80px;
    width: 120px;
    //background: royalblue;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    text-align: center;
}

.img_perfil {
    height: 100px;
    width: 80px;
}

.barra {
    width: 400px;
    display: inline-block;
    margin-top: 55px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 15px;
    border-color: black;
}

.barrap {
    width: 550px;
    margin-top: 55px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 15px;
    border-color: #8a2be2;
    border-style: solid;
    padding-left: 1.2%;
    //background-color: #4169e1;
}
.boton1, .boton2 {
    height: 60px;
    width: 250px;
    display: inline-block;
    margin-left: 25px;
}

h1 {
    text-align: center;
    line-height: 80px;
    font-weight:bold;
    font-size: 32px;
    
}

.Formulario {
    width: 320px;
    height: 450px;
    padding: 16px; 
    margin: 50px 62px;
    display: inline-block;
    float: none;
    //text-align: center;
    border: 3px solid black;
}

.tabla {
    width: 100%;
    height: 500px;
    margin: 5% 0%;
    //border: 3px solid black;
}
table {
    width: 95%;
    margin: 5% 2.5%;
    text-align: center;
    background-color: white;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #8a2be2;
    border-bottom: solid 5px #aa6fcb ;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #aa6fcb;
    color: white;

}

.boton-regresar {
    width: 25%;
    margin: -5% 37.5% 2% 37.5%;
}

.boton-regresar button {
    height: 38px;
    width: 150px;
    margin: 0% 27.5% 0% 27.5%;
    border-radius: 20px;
    border-style: solid;
}

.cuadro-imagen {
    width: 250px;
    height: 200px;
    margin-left: 16px;
    //border: 3px solid black;
}

.dogchow {
    height: 100%;
    width: 50%;
    margin-left: 60px;
}
.hills {
    height: 100%;
    width: 80%;
    margin-left: 30px;
}

.chunky {
    height: 100%;
    width: 80%;
    margin-left: 30px;
}

form input{
    width: 200px;
    height: 40px;
    padding: 3px 15px;
    margin: 10px 0 20px 0;
}

form label {
    display: block;
    margin: 5px 0 0 15px;
    //border: 3px solid black;
}

.btnIniciarSesion {
    height: 38px;
    width: 150px;
    margin-top: 25px;
}

footer {
    width: 100%;
    height: 130px;
    background-color: #e6e6fa;
    //position: fixed;
    left: 0px;
    bottom: 0px;
    
}

footer img {
    height: 100px;
    width: 130px;    
    margin: 15px 10px;
    float: left;    
}
.redes {
    float: right;
    margin-right: 5%;
    
}

p {
    line-height: 40px;
    margin-left: 120px;
}

